/* Projects Section */
.projects-section {
  background: #fff;
  padding: 60px 20px;
  text-align: center;
  border-radius: 10px;
  margin: 40px auto;
  max-width: 1000px;
}

.projects-section h2 {
  font-size: 28px;
  margin-bottom: 40px;
  border-bottom: 3px solid #124e66;
  display: inline-block;
  padding-bottom: 10px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-card {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.project-card img {
  width: 250px;
  height: 160px;
  object-fit: contain;
  /* flex:1; */
  border-radius: 8px;
}

.project-info {
  flex: 1;
  text-align: left;
}

.project-info h3 {
  font-weight: bold;
  margin-bottom: 8px;
}

.projects-container p {
  color: black;
}